body{
    /* background-image: url('calimg/calbg.jpg'); */
    background-color: #d9ece9;
}
.cal {
    padding: 2%;
    border-radius: 1.5em;
    height: 500px;
    width: 550px;
    background-color: #c6e6fb;
    border: 3px black solid;
    box-shadow: #6b77ad 0 40px 25px -25px;
  }
  
  .cal tr td {
      width:25%;
    padding: 1%;
  }
  
  .display-box {
    background-color: white;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 98%;
    height: 65%;
    text-align: right;
    box-shadow:  black 0.5px 1px 6px 2px;
  }
  
  
  
  .display-box {
      font-size:25px;
  }
  
  .display-box input {
    width: 100%;
    height: 100%;
    text-align: right;
    border: none;
    background-color: #dcdbe1;
  }
  ::placeholder{
      text-align: center;
  }
  input[type=button] {
    background-color: #1c4966;
    color: white;
    border: solid black 0.5px;
    border-radius: 5px;
    width:100%;
    height: 70%;
    font-size: 20px;
    padding:5%;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: black 0px 1.5px 3px 1px;
    transition: 0.3s;
    margin: 0.5%;
  }
  
  input[type=button]:hover {
    background-color: #0e2433;
  }
  input[type=button]:active {
    color: #5789e6;
    background-color: #90abde;
    transform: translateY(10%);
    box-shadow: #dcdbe1 0px 0px 0px 0px;
  }
  
  #btn {
    background-color: #830d0d;
  }
  
  #btn:hover{
      background-color: #cb0b0b;
  }
  
  #btn:active{
      color: #ff4301;
      background-color: #fbdcc4;
  }
  
  #sub{
      background-color: #034505;
  }
  
  
  #sub:hover{
      background-color: #38d838;
  }
  
  #sub:active{
      color: #03c988;
      background-color: #93d1c6;
  }
  
  .clear {
    height: 80%;
    font-size: 20px;
    padding:6%;
    border-radius: 25%;
  }
  .clear:child{
      padding: 2px;
  }